.profile-left {
  background-color: #8CBCB9;

  .profile-select {
    height: 100vh;
    margin: 3em;
    border-style: solid;
    border-color: black;

    .register-title {
      font-size: xx-large;
      font-weight: bold;
      padding: 1em 0;
    }

    .form-item {
      padding: 1em;
      label {
        padding-right: 0.5em;
      }
    }

    .password-box {
      padding: 1em 0;
      input {
        margin: 0.5em;
      }
    }

    .bio-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bio-input {
        margin-top: 1em;
        width: 30em;
        height: 7em;
      }
    }
    button {
      margin: 0.5em;
    }
    .avatar-select{
      display: flex;
      justify-content: center;
      padding: 2em;
      border-radius: 2em;
      align-items: center;
      flex-direction: column;

      .avatar-row {
        display: flex;
        
        .avatar-item {
          display: flex;
          flex-direction: column;
          img {
            padding: 1em;
          }
        }
      }

      
    }
  }
}