* {
  margin: 0;
}

.pencil {
  font-family: 'Noto Sans Symbols 2', sans-serif;
}

.App {
  text-align: center;
  height: 100vh;

  header {
    display: flex;
    background-color: whitesmoke;
    height: 15em;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

    .logo {
      font-size: 65px;
      background-color: fire;
      font-family: 'Itim', cursive;
    }

    button {
      background-color: transparent;
      border: transparent;
      cursor: pointer;
      font-size: 25px;
      font-family: 'Noto Sans Display', sans-serif;
    }
  }

  nav {
    height: 30em;
    background-color: #B8390E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .link-nav {
      background-color: burlywood;
      height: 17em;
      width: 17em;
      overflow: hidden;
      border-radius: 50%;
      text-align: center;
      line-height: 18em;
      border-style: ridge;
      border-color: #B8390E;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  main {
    display: flex;
    justify-content: center;

    .left-side {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      display: flex;

      .critique-left {
        background-color: #E7D2CC;

        .critique-select {
          margin: 3em;
          height: 100vh;
          border-style: solid;
          border-color: black;
        }
      }

      .stat-left {
        background-color: lavender;

        .stat-select {
          margin: 3em;
          height: 100vh;
          border-style: solid;
          border-color: black;
        }
      }


      .explore-left {
        background-color: beige;

        .explore-select {
          margin: 3em;
          height: 100vh;
          border-style: solid;
          border-color: black;
        }
      }

      .profile-left {
        background-color: olive;

        .profile-select {
          margin: 3em;
          height: 100vh;
          border-style: solid;
          border-color: black;
        }
      }
    }

    .right-side {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      display: flex;

      .critique-right {
        background-color: #738580;

        .critique-display {
          margin: 3em;
          height: 100vh;
          border-style: solid;
          border-color: black;
        }
      }

      .stat-right {
        background-color: cornflowerblue;

        .stat-display {
          margin: 3em;
          height: 100vh;
          border-style: solid;
          border-color: black;
        }
      }

      .explore-right {
        background-color: coral;
        .explore-display {
          margin: 3em;
          height: 100vh;
          border-style: solid;
          border-color: black;
        }
      }

      .profile-right {
        background-color: grey;

        .profile-display {
          margin: 3em;
          height: 100vh;
          border-style: solid;
          border-color: black;
        }
      }
    }
  }

  .about-us {
    height: 20rem;
    background-color: #25234A;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Noto Sans Display', sans-serif;
}

  footer {
    background-color: whitesmoke;
    font-size: 5.25vw;
    font-family: 'Itim', cursive;

    .footer-nav {
      display: flex;
      justify-content: space-between;
      padding: 0.3em 0.5em 1.5em 0.5em;

      .footer-link {
        font-size: 0.4em;
        font-family: 'Noto Sans Display', sans-serif;

        a {
          color:black;
          font-weight: bold;
        }
      }
    }
  }
}
