@use '../../../../styles/base.scss';

.explore-left {
  background-color: beige;

  .explore-select {
    height: base.$container-height;
    margin: 3em;
    border-style: solid;
    border-color: black;
  }
}