@use '../../../../styles/base.scss';

.explore-left {
  background-color: #87AFC7;

  .explore-select {
    height: base.$container-height;
    margin: 3em;
    border-style: solid;
    border-color: transparent;
    font-family: base.$site-body-font;

    .search-nav {
      display: flex;
      align-items: center;
      flex-grow: 1;

      .explore-search {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        label {
          font-weight: bold;
          font-size: 21px;
          color: base.$font-dark-red;
        }

        .search-area {
          display: flex;
          align-items: center;
          width: 100%;

          input {
            width: 100%;
            margin: 1em;
            padding: 0.5em 0.75em;
            border-radius: 1em;
            box-shadow: base.$box-shadow-light;
            border: none;
            outline: none;
            font-family: base.$site-body-font;
            font-size: medium;
          }

          img {
            cursor: pointer;
          }

          img:active {
            transform: scale(0.95);
          }
        }
      }

      .search-select {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        
        .radio {
          display: flex;
          justify-content: flex-end;
          margin: 0.2em 0;

          label {
            font-weight: bold;
            color: base.$font-dark-red;
            font-size: 17px;
          }

          input {
            margin: 0 0.5em;
            accent-color: base.$font-dark-red;
            align-self: center;
            height: 1.2rem;
            width: 1.2rem;
          }
        }
      }
    }
  }
}