@use '../../../../styles/base.scss';

.box-outer {
  font-family: base.$site-body-font;

  .box-inner {
    display: flex;
    flex-direction: column;
    height: base.$container-height;
    margin: 3em;
    border-style: solid;
    border-color: transparent;

    .select-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1.5;

      .box-title {
        padding-bottom: 1em;
        font-size: 2em;
        font-weight: bold;
      }
      
      .box-content {
        display: flex;
        justify-content: center;

        .box-item {
          display: flex;
          flex-direction: column;
          padding: 0 .5em;

          img {
            margin-bottom: 1em;
            border-radius: 0.15em;
            box-shadow: 0px 4px 8px rgb(69, 67, 67);
          }
        }
      } 
    }

    .box-input {
      flex-grow: 2;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;

      p {
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        font-weight: bold;
        font-size: 18px;
      }

      .url {
        width: 70%;
        margin: 0.5em;
        padding: 0.25em;
        outline: none;
        border: none;
        border-radius: 0.6em;
        padding: 0.3em;
        background-color: whitesmoke;
        box-shadow: 0px 1px 3px rgb(218, 222, 225);
        font-size: 15px;
        font-family: 'Noto Sans Display', sans-serif;
      }

      .short {
        width: 30%;
        margin: 0.5em;
        padding: 0.25em;
        outline: none;
        border: none;
        border-radius: 0.6em;
        padding: 0.3em;
        background-color: whitesmoke;
        box-shadow: 0px 1px 3px rgb(218, 222, 225);
        font-size: 15px;
        font-family: 'Noto Sans Display', sans-serif;
      }

      textarea {
        width: 50%;
        height: 40%;
        resize: none;
        margin: 0.5em;
        padding: 0.25em;
        outline: none;
        border: none;
        border-radius: 0.6em;
        padding: 0.3em;
        background-color: whitesmoke;
        box-shadow: 0px 1px 3px rgb(218, 222, 225);
        font-size: 15px;
        font-family: 'Noto Sans Display', sans-serif;
      }
    }

    .box-buttons{
      flex-grow: 1;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      button {
        background-color: rgb(51, 51, 51);
        color: whitesmoke;
        border-radius: 1.75em;
        border-style: none;
        text-align: center;
        padding: 0.4em 1.2em;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        font-family: 'Noto Sans Display', sans-serif;
        box-shadow: 0px 1px 3px rgb(102, 105, 105);
      }

      button:active {
        transform: scale(0.95);
      }

      button:hover {
        background-color: rgba(51, 51, 51, 0.856);
      }
    }
  }
}