@use "../../styles/base.scss";

.signed-in {
  display: flex;
  align-items: center;

  .username-signout {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: base.$site-body-font;
    text-align: start;
    position: relative;

    .username {
      padding: 0.2em 1em;
      font-size: 20px;
      border-radius: 0.7em;
      background-color: #322f68;
      color: whitesmoke;
      box-shadow: base.$box-shadow-medium;
      z-index: 1;
      position: absolute;
      bottom: -5px;
    }

    .signout-button {
      z-index: 1;
      position: absolute;
      top: -20px;
      right: -30px;

      img {
        height: 50px;
        width: 50px;
        background-color: burlywood;
        padding: 0.5em;
        border-radius: 50%;
        box-shadow: base.$box-shadow-medium;
      }
    }

    .signout-button:active {
      transform: scale(0.95);
    }

    .avatar-image {
      display: flex;
      align-items: center;
      padding: 1em;
      z-index: 0;
  
      img {
        border-radius: 50%;
        box-shadow: base.$box-shadow-medium;
        background-color: grey;
      }
    }
  }
}