@use '../../styles/base.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15em;
  padding: 0 5%;
  background-color: whitesmoke;

  .logo {
    background-color: fire;
    font-size: 65px;
    font-family: base.$site-title-font;
  }

  button {
    padding: 0.25em;
    background-color: transparent;
    border: transparent;
    font-size: 25px;
    font-family: base.$site-body-font;
    cursor: pointer;
  }

  button:active {
    transform: scale(0.95);
  }
}