* {
  margin: 0;
}

.pencil {
  font-family: 'Noto Sans Symbols 2', sans-serif;
}

.App {
  height: 100vh;
  text-align: center;
  // overflow-x: hidden;
}


.backToTop {
  bottom: 25px;
  right: 25px;
  position: fixed;
  height: 75px;
  width: 75px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background:transparent;
  opacity: 0.2;
  z-index: 1;
}

.backToTop:hover {
  box-shadow: 0 0 10px 5px whitesmoke;
  background-color: whitesmoke;
  opacity: 1;
}