@use '../styles/base.scss';

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30em;
  background-color: #25234A;

  a:hover {
    text-decoration: none;
  }

  .link-nav-critique {
    @include base.nav-pre-hover;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  .link-nav-critique::after {
    content: "Critique";
    @include base.nav-hover;
  }
  
  .link-nav-critique:hover::after {
    display: block;
  }

  .link-nav-critique:active {
    transform: scale(0.95);
  }

  .link-nav-explore {
    @include base.nav-pre-hover;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  .link-nav-explore::after {
    content: "Explore";
    @include base.nav-hover;
  }
  
  .link-nav-explore:hover::after {
    display: block;
  }

  .link-nav-explore:active {
    transform: scale(0.95);
  }

  .link-nav-profile {
    @include base.nav-pre-hover;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  .link-nav-profile::after {
    content: "Profile";
    @include base.nav-hover;
  }
  
  .link-nav-profile:hover::after {
    display: block;
  }

  .link-nav-profile:active {
    transform: scale(0.95);
  }



  .link-nav-about {
    @include base.nav-pre-hover;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  .link-nav-about::after {
    content: "About";
    @include base.nav-hover;
  }
  
  .link-nav-about:hover::after {
    display: block;
  }

  .link-nav-about:active {
    transform: scale(0.95);
  }
}




// Code for stats - add back eventually:
// .link-nav-stats {
//   @include base.nav-pre-hover;
//   img {
//     max-width: 100%;
//     max-height: 100%;
//   }
// }
// .link-nav-stats::after {
//   content: "Stats";
//   @include base.nav-hover;
// }
// .link-nav-stats:hover::after {
//   display: block;
// }
// .link-nav-stats:active {
//   transform: scale(0.95);
// }