@use '../../../../styles/base.scss';

.stat-left {
  background-color: #87AFC7;

  .stat-select {
    height: base.$container-height;
    margin: 3em;
    border-style: solid;
    border-color: black;
  }
}