.register-instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .how-to {
    flex-grow: 0;
    font-size: large;
    margin-bottom: 0.5em;

    h2 {
      margin-bottom: 1em;
    }

    li {
      text-align: start;
    }
  }

  .register-image {
    flex-grow: 1;
    padding: 0 3.5em;
  }

  .terms {
    flex-grow: 0;
    font-size: large;
    margin-top: 0.5em;

    h2 {
      margin-bottom: 1em;
    }

    li {
      text-align: start;
    }
  }
}