.register-instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .how-to {
    flex-grow: 0;
    font-size: large;

    h2 {
      margin-bottom: 1em;
    }

    li {
      text-align: start;
    }
  }

  .register-image {
    flex-grow: 1;
    
    img {
      align-self: center;
      width: 100%;
    }
  }

  .terms {
    flex-grow: 0;
    font-size: large;

    h2 {
      margin-bottom: 1em;
    }

    li {
      text-align: start;
    }
  }
}