@use '../../../../styles/base.scss';

.profile-right {
  background-color: #C5CBD3;

  .profile-display {
    height: base.$container-height;
    font-family: base.$site-body-font;
    margin: 3em;
    border-style: solid;
    border-color: transparent;
    overflow-y: scroll;
  }

  .profile-display::-webkit-scrollbar {
    color: transparent;
  }
}