.acknowledgements {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans Display', sans-serif;
  border-radius: 1em;
  background-color: #716f9a69;
  box-shadow: 0px 6px 12px rgb(3 3 3);
  padding: 2em 0;

  .ack-close-button {
    align-self: flex-end;

    button {
      background-color: transparent;
      border-style: none;
      cursor: pointer;
      color: whitesmoke;
      font-size: x-large;
      margin-right: 1em;
    }
  
    button:active {
      transform: scale(0.95);
    }
  }

  .carousel {
    margin-bottom: 3em;

    .arrow {
      font-size: 50px;
      color: rgba(245, 245, 245, 0.259);
      font-weight: bolder;
    }
  
    .carousel-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 200px;
      background-color: transparent;
      border-radius: 1em;
  
      a {
        text-decoration: none;
        color: whitesmoke;
        font-size: 45px;
        font-weight: bold;
      }

      a:hover {
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
      }
    }
  }
}