.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans Display', sans-serif;
  border-radius: 1em;
  background-color: #716f9a69;
  box-shadow: 0px 6px 12px rgb(3 3 3);
  padding: 2em 0;

  .team-close-button {
    align-self: flex-end;

    button {
      background-color: transparent;
      border-style: none;
      cursor: pointer;
      color: whitesmoke;
      font-size: x-large;
      margin-right: 1em;
    }
  
    button:active {
      transform: scale(0.95);
    }
  }

  .team-carousel {
    margin-bottom: 3em;

    .arrow {
      font-size: 50px;
      color: rgba(245, 245, 245, 0.259);
      font-weight: bolder;
    }
  
    .team-carousel-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 200px;
      background-color: transparent;
      border-radius: 1em;
      position: relative;
    
      .meet-team {
        color: whitesmoke;
        font-size: 50px;
        font-weight: bold;
      }
    
      .name {
        color: whitesmoke;
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        left: 80px;
        z-index: 1;
        background-color: rgb(100, 95, 95);
        border-radius: 50%;
        padding: 0.25em 0.75em 1.25em 1.25em;
        box-shadow: 0px 2px 6px rgb(154 151 151);

        .first-name {
          font-size: 35px;
          font-weight: bold;
        }
      }
    
      img {
        height: 175px;
        width: 175px;
        background-color: whitesmoke;
        border-radius: 2em;
        margin-bottom: 1.5em;
        margin-left: 5em;
        object-fit: cover;
        box-shadow: 0px 2px 6px rgb(154 151 151);
        z-index: 0;
      }
    }    
  }
}