@use '../../../../styles/base.scss';

.edit-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: base.$site-body-font;

  .nav {
    flex-grow: 0.5;
    display: flex;
    align-items: center;
    width: 100%;

    .menu {
      flex-grow: 1;

      .menu-button {
        all: unset;
      }
    }

    .page-avatar {
      flex-grow: 1;

      .avatar-container {
        img {
          border-radius: 50%;
          box-shadow: base.$box-shadow-medium;
          background-color: base.$font-white;
        }
      }
    }

    .page-title {
      flex-grow: 3;

      .title-span {
        font-size: x-large;
        font-weight: bold;
        color: base.$font-dark-red;
      }

      b {
        color: base.$font-dark-red;
        font-size: large;
      }
    }

    .voting {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
    }
  }

  .rating {
    flex-grow: 0.5;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: large;

    .stars {
      flex-grow: 1;

      .star-bar {
        margin: 0 1em;
      }
    }

    .watched-on {
      flex-grow: 1;

      label {
        margin: 1em;
      }
      
      input {
        border-radius: 0.3em;
        border: none;
        padding: 0.3em;
        margin-top: 0.3em;
        background-color: base.$font-white;
        box-shadow: base.$box-shadow-medium;
        font-family: base.$site-body-font;
      }
    }
  }

  .review {
    display: flex;
    flex-grow: 1;
    align-items: center;

    .review-heading {
      font-size: large;
      margin-right: 0.5em;
    }

    #review {
      height: 50%;
      width: 500px;
      border: none;
      outline: none;
      border-radius: 0.75em;
      background-color: base.$font-white;
      box-shadow: base.$box-shadow-medium;
      font-size: medium;
    }
  }

  .badges {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .badge-list {
      display: flex;

      .show-badge-item {
        flex-grow: 1;
      }
    }
  }

  .boxes {
    flex-grow: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .buttons {
    flex-grow: 0.25;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    button {
      background-color: rgb(51, 51, 51);
      color: base.$font-white;
      margin: 0 1.5em;
      border-radius: 1.75em;
      border-style: none;
      text-align: center;
      padding: 0.4em 1.2em;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      font-family: base.$site-body-font;
    }

    button:active {
      transform: scale(0.95);
    }

    button:hover {
      background-color: rgba(51, 51, 51, 0.856);
    }
  }
}