@use '../../../../styles/base.scss';

.summary-index {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  .image-container {
    height: 70%;
    margin-top: 2em;
    text-align: right;
    display: flex;
    justify-content: center;

    img {
      max-width: 53%;
      max-height: auto;
      border-radius: 0.75em;
      box-shadow: 0px 6px 12px rgb(36, 40, 43);
      object-fit: contain;
    }
  }

  .summary-container {
    margin: 2em 3em 0 3em;
    display: flex;
    justify-content: center;

    p {
      font-family: base.$site-body-font;
      font-size: medium;
    }
  }
  
}