// Currently not in use - add back eventually:

@use '../../../../styles/base.scss';

.stat-right {
  background-color: #B39C4D;

  .stat-display {
    height: base.$container-height;
    margin: 3em;
    border-style: solid;
    border-color: black;
  }
}