@use '../../../../styles/base.scss';

.explore-right {
  background-color: #B39C4D;
  .explore-display {
    height: base.$container-height;
    margin: 3em;
    border-style: solid;
    border-color: black;
  }
}