@use '../../../../styles/base.scss';

.explore-right {
  background-color: whitesmoke;
  
  .explore-display {
    height: base.$container-height;
    margin: 3em 2em;
    border-style: solid;
    border-color: transparent;
  }
}